# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
__pypackages__/

# VS Code config
.vscode/

# PDM
pdm.lock

# Streamlit
.streamlit/

# Logs
*.log